<html>
<head>
    <title>Finding Dory Dental</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    
     <h1>Finding Dory Dental</h1>
        <nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/specialties">Specialties</a></li>
            <li><a href="/providers">Providers</a></li>
            <li><a href="/patients">Patients</a></li>
            <li><a href="/treatments">Treatments</a></li>
            <li><a href="/treatmentordersandorderedtreatments">Treatment Orders and Ordered Treatments</a></li>
        </ul>
        </nav>

        <h1>Finding Dory Dental</h1>
        <p>Bringing patients the best treatment, provided by the best dental providers!</p>
</body>
</html>