{# Citation for the following function:
   Date: 5/21/24
   Adapted from CS 340 Web Application Technology material
   Adapted Javascript functions from instructor material provided and changed to create functions needed for our project and its needs.
   Source URL: https://canvas.oregonstate.edu/courses/1958399/pages/exploration-web-application-technology?module_item_id=24181847
#}

<html>
<head>
    <title>Finding Dory Dental</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript">

        function showform(dowhat) {
          /*
          * four DIVS: browse, insert, update, delete
          * this function sets one visible the others not
          */
          if (dowhat == 'insert'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
          }
          else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
          }
          else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
          }
          else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
          }
          else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
          }
        }

        function newPatient() { 
          showform('insert'); 
        }

        function editPatient() {
          showform('update');
        }
      
        function deletePatient() {
          showform('delete');
        }

        function browsePatient() {
          showform('browse'); 
        }

      </script>


</head>

<body onload="browsePatient()">
    <h1>Finding Dory Dental</h1>
    <nav class="menu">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/specialties">Specialties</a></li>
            <li><a href="/providers">Providers</a></li>
            <li><a href="/patients">Patients</a></li>
            <li><a href="/treatments">Treatments</a></li>
            <li><a href="/treatmentordersandorderedtreatments">Treatment Orders and Ordered Treatments</a></li>
        </ul>
        </nav>

    <h1>Patients</h1>
    <div id="browse" style="display: block">
        <p><strong>Patient Record</strong></p>
        <table border="1" cellpadding="8">

                <thead>
                        <tr>
                            <!-- Adds new Patient -->
                            <th><a href="#" onClick="newPatient()">New</a></th>

                <!-- Gets data tuple passed from app.py -->
                {% if data %}

                                <!-- Iterate through each key in the first entry to get the column name -->
                                {% for key in data[0].keys() %}

                                    <!-- Create a <th> tag with the key inside of it, for our header row -->
                                    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>

                                <!-- Finishes for loop -->
                                {% endfor %}
                        </tr>
                
                <tbody>
                        <!-- Iterate through every item in data -->
                        {% for item in data %}

                        <tr>

                            <!-- Creates Edit and Delete buttons -->
                            <td><a href="edit_patient/{{item.patientID}}" class="btn btn-default">Edit</a></td>
                            <td><a href="delete_patient/{{item.patientID}}" class="btn btn-default">Delete</a></td>
                            
                            <!-- Iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}

                                <!-- Creates a <td> element with the value of that key in it -->
                                <td> {{item[key]}} </td>

                            <!-- Finishes for loop -->
                            {% endfor %}

                        </tr>

                        <!-- Finishes for loop -->
                        {% endfor %}

                <!-- Ends if -->
                {% endif %}

        </table>
                        
        <p>&nbsp;</p>

        </div> <!-- browse -->

        <div id="insert">
                <!-- INSERT form for new data into Patients -->
                <form id="addPatient" action="/patients" method="POST">
                    <legend><strong>Add Patient</strong></legend>

                    <fieldset class="fields">
                        <label> Name: </label> 
                        <input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{1,}" placeholder="Nemo" required>

                        <label> Birth Date: </label> 
                        <input type="date" class="form-control" id="birthdate" name="birthdate" value="2000-05-08" required>

                        <label> Email: </label> 
                        <input type="text" class="form-control" id="email" name="email" pattern="[A-Za-z0-9]{1,}" placeholder="yourname@gmail.com" required>

                        <label> Provider Name: </label> 
                        <select class="form-control" id="ptproviderID" name="ptproviderID" pattern="[0-4]{1}" placeholder="" required>
                        <!-- GET RID OF HARD CODE HERE -->
                            <option value="0" selected></option>
                            <option value="1" >Dr. Robert Green</option>
                            <option value="2">Dr. Liz Dee</option>
                            <option value="3">Dr. Sam Kim</option>
                            <option value="4">Dr. Ana Garcia</option>
                        </select>
                    </fieldset>

                    <!-- ADD PATIENT and CANCEL buttons-->
                    <input type="submit" value="Add Patient" name="Add_Patient" class="btn btn-primary" style="margin:.5rem;">
                    <input class="btn" type="button" value="Cancel" onClick="browsePatient()">
                </form> 

        </div> <!-- insert -->

        <p>&nbsp;</p>


        <div id="update" >
                <!-- UPDATE/EDIT form for data in Patients -->
                <form id="updatePatient" action="/update_patients/{{data[0].patientID}}" method="POST">
                <legend><strong>Update Patient</strong></legend>
                <fieldset class="fields">
                        <label>Patient ID:</label>
                        <input type="hidden" value="{{data[0].patientID}}" class="form-control" id="patientID" name="patientID" required>
                        
                        <label>Name: </label> 
                        <input type="text" class="form-control" id="name" name="name" pattern="{{data[0].patientName}}" placeholder="">
                  
                        <label>Birth Date </label> 
                        <input type="date" class="form-control" id="birthdate" name="birthdate" value="{{data[0].birthdate}}" required>

                        <label>Email </label> 
                        <input type="text" class="form-control" id="email" name="email" pattern="[A-Za-z0-9]{1,}" placeholder="{{data[0].email}}" required>

                        <label>Provider Name </label> 
                        <select class="form-control" id="ptproviderID" name="ptproviderID" pattern="[0-4]{1}" placeholder="" required>
                            <!-- COME BACK TO GET RID OF THIS HARD CODE -->
                            <option value="0" selected></option>
                            <option value="1" >Dr. Robert Green</option>
                            <option value="2">Dr. Liz Dee</option>  
                            <option value="3">Dr. Sam Kim</option>
                            <option value="4">Dr. Ana Garcia</option>
                        </select>
                </fieldset>

                <!-- UPDATE PATIENT and CANCEL buttons-->
                    <input type="submit" value="Update Patient" name="Update_Patient" class="btn btn-primary" style="margin:.5rem;">
                    <input class="btn" type="button" value="Cancel" onClick="browsePatient()">

                </form> 

        </div> <!-- update/edit -->

        <p>&nbsp;</p>

        <div id="delete" style="display: block">
                <!-- DELETE CONFIRM form for data in Patients -->
                <form id="deletePatient" action="/delete_patients/{{data[0].patientID}}" method="POST">
                <legend><strong>Delete Patient</strong></legend>
                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>

                    <label>Patient ID:</label> 
                    <input type="hidden" value="{{data[0].patientID}}" class="form-control" id="patientID" name="patientID" required>

                    <label> Name: </label> 
                    <input type="hidden" value="{{data[0].patientName}}" class="form-control" id="patientID" name="patientID" required>
                  
                </fieldset>

                <!-- DELETE PATIENT and CANCEL buttons-->
                    <input type="submit" value="Delete Patient" name="Delete_Patient" class="btn btn-primary" style="margin:.5rem;">
                    <input class="btn" type="button" value="cancel" onClick="browsePatient()">
                </form> 
        </div><!-- delete -->
</body>
</html>